<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/headNav.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/musicPlayer.css">
    <script src="js/myBlog.js"></script>
    <script src="js/Jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <!-- 头部导航栏 -->
        <div class="header">
            <!-- 左侧logo -->
            <div class="logo">
            </div>
            <!-- 中间导航部分 -->
            <div class="nav hidden-md hidden-sm hidden-xs">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="blogs.html">博客</a></li>
                    <li><a href="studyProcess.html">学习历程</a></li>
                    <li><a href="todolist.html">记事簿</a></li>
                    <li><a href="musicPlayer.html">Music</a></li>
                </ul>
            </div>
            <!-- 右侧搜索框 -->
            <div class="searchBox">
                <input type="text">
                <img class="searchImg" src="asset/search.png" alt="">
                <label for="" class="underline"></label>
            </div>
            <div class="dropDownButton hidden-lg" onclick="showReactNav()"></div>
        </div>
        <!-- 响应式导航栏 -->
        <div class="reactNav hidden-lg">
            <div class="navbox">
                <span class="msg">
                    <img src="asset/head.png" alt="">
                    <label for="">色彩控灬杰少</label>
                    <label for="">1430702430@qq.com</label>
                    <div class="cutline"></div>
                </span>
                <span class="navtxt"><a href="index.html">首页</a></span>
                <span class="navtxt"><a href="blogs.html">博客</a></span>
                <span class="navtxt"><a href="studyProcess.html">学习历程</a></span>
                <span class="navtxt"><a href="todolist.html">记事簿</a></span>
                <span class="navtxt"><a href="musicPlayer.html">Music</a></span>
                <span class="navtxt"><img src="asset/dropUp.png" onclick="hideReactNav()" alt=""></span>
            </div>
        </div>
        <div class="con" id="myApp">
            <!-- 播放器头部  log  搜索框 -->
            <div class="header">
                <div class="playerLogo">
                    <span>畅听音乐</span>
                </div>
                <div class="searchInput">
                    <input type="text" autofocus="false" class="search-txt" @keyup.enter="musicSearch" v-model="query">
                </div>
            </div>
            <!-- 播放器主题部分 歌曲列表 动画 留言列表 -->
            <div class="mainCon">
                <!-- 歌曲列表 -->
                <div class="musicList">
                    <ul class="musicUl">

                        <li v-for="item in musicList">
                            <button class="play" @click="playMusic(item.id)"><img src="asset/playicon.jpg" alt=""></button>
                            <span class="musicName">
                                {{item.name}}
                            </span>
                            <!-- <button class="mvPlay"></button> -->
                        </li>
                    </ul>
                </div>
                <!-- 动画 -->
                <div class="anmilate">
                    <div class="outer" :class="{action:isPlaying}">
                        <div class="inner">
                            <img src="asset/tem.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- 留言列表 -->
                <div class="text">
                    <span style="font-size: 14px;">热门留言</span>
                    <ul class="leaveWord" style="list-style: none; padding-left: 0px;">
                        <li v-for="item in hotComments">
                            <img :src="item.user.avatarUrl" alt="">
                            <span class="name">{{item.user.nickname}}</span>
                            <div class="leaveCon">
                                <p class="word">{{item.content}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 播放器底部 按键及进度条 -->
            <div class="footer">
                <audio ref="audio" @play="play" @pause="pause" :src="musicUrl" controls="controls" autoplay="autoplay"
                    loop></audio>
            </div </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
    <script src="js/musicPlayer.js"></script>
</body>

</html>